{{- if has "rust" .profiles -}}
set -gx CARGO_HOME $XDG_CONFIG_HOME/cargo
set -gx RUSTUP_HOME $XDG_CONFIG_HOME/rustup
fish_add_path "$CARGO_HOME/bin" # binaries installed by cargo install

# NOTE: $CARGO_HOME/env is POSIX-sh; the env vars it exports are set above.
alias crr "cargo run --release"
alias crd "cargo run"
alias ccl "cargo clean"
alias cbu "cargo build"
alias cte "cargo test"

set -gx BACON_PREFS $XDG_CONFIG_HOME/bacon/prefs.toml
{{- end -}}
