# Set of tool profiles enabled on this machine.
# Used to conditionally source zsh exports in dot_config/zsh/dot_zshrc.tmpl.
# Valid values: "android", "rust", "orbstack"
[data]
profiles = ["rust", "orbstack"]
