/*

# whitelist files & folders
!.gitignore
!README.md

!.vale.ini
!zprofile
!.hammerspoon
!Brewfile

!.gitignore_apple

!.config
.config/*

!.config/nvim
.config/nvim/*
!.config/nvim/init.lua
!.config/nvim/.luarc.json
!.config/nvim/lua
!.config/nvim/packer_backup

!.config/kitty
.config/kitty/*.bak

!.config/tmux
.config/tmux/plugins

!.config/zsh
.config/zsh/*
!.config/zsh/.zshrc
!.config/zsh/.p10k.zsh
!.config/zsh/zsh-functions
!.config/zsh/personal
!.config/zsh/scripts

.hammerspoon/Spoons
!.hammerspoon/Spoons/SpoonInstall.spoon/


