/*

# whitelist files & folders
!.gitignore
!.gitignore_apple
!README.md
!.editorconfig

!zprofile
!.hammerspoon
!Brewfile


!.config
.config/*

!.config/nvim
.config/nvim/*
!.config/nvim/init.lua
!.config/nvim/.luarc.json
!.config/nvim/lazy-lock.json
!.config/nvim/lua
!.config/nvim/packer_backup

!.config/kitty
.config/kitty/*.bak

!.config/tmux
.config/tmux/plugins

*.zwc
!.config/zsh
.config/zsh/*
!.config/zsh/.zshrc
!.config/zsh/.p10k.zsh
!.config/zsh/zsh-functions
!.config/zsh/zsh-plugins
!.config/zsh/exports
!.config/zsh/options
!.config/zsh/personal
!.config/zsh/scripts

.hammerspoon/Spoons
!.hammerspoon/Spoons/SpoonInstall.spoon/
