#!/bin/zsh
# Functions and brew
source "$ZDOTDIR/zsh-functions"
{{ if eq .chezmoi.os "darwin" }}_zsh_add_file "exports/zsh-brew"{{ end }}

# Plugin vars
_zsh_add_file "zsh-zim"

# General
_zsh_add_file "options/zsh-prompt"
_zsh_add_file "options/zsh-history"
_zsh_add_file "options/zsh-options"
_zsh_add_file "personal/zsh-aliases"
_zsh_add_file "options/zsh-completions"
_zsh_add_file "personal/zsh-vim-mode"

# Exports
_zsh_add_file "exports/zsh-fzf"
_zsh_add_file "exports/zsh-mise"
_zsh_add_file "exports/zsh-jj"
_zsh_add_file "exports/zsh-scripts"
_zsh_add_file "exports/zsh-java"

{{ if has "android" .profiles }}_zsh_add_file "exports/zsh-android"{{ end }}
{{ if has "rust" .profiles }}_zsh_add_file "exports/zsh-cargo"{{ end }}
{{ if has "rust" .profiles }}_zsh_add_file "exports/zsh-bacon"{{ end }}
{{ if has "orbstack" .profiles }}_zsh_add_file "exports/zsh-orbstack"{{ end }}

_cacheval z zoxide init zsh

# Load plugins
source ${ZIM_HOME}/init.zsh

# for locally compiled qmk
. "$HOME/.local/bin/env"
